/* 
    Document   : socailapp1
    Created on : 13 Mar, 2014, 1:58:47 PM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

#LogIn {
    font-weight: bolder;

}

#LogIn:hover{

    text-decoration: none;

}





#Login_Heading {
    font-weight: bolder;
    font-stretch: expanded;
}

#CloseModal_CSS {
    color: #fff;
}



