#LogIn {
    font-weight: bolder;

}

#LogIn:hover{
    
    text-decoration: none;
    
}

.container {
    margin: auto;
}

body {
    padding: 60px;
}

#Login_Heading {
    font-weight: bolder;
    font-stretch: expanded;
}

#CloseModal_CSS {
    color: #fff;
}